<div class="container">
  <div class="principal-box">
    <div class="title">
      <img src="../../../assets/images/logo.webp" alt="KeepCode logo" width="300">
    </div>

    <div class="login-box">
      <form action="#" method="POST">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
