<div class="container">
  <div class="principal-box">
    <div class="title">
      <img src="../../../assets/images/logo.webp" alt="KeepCode logo" width="300">
    </div>

    <div class="login-box">
      <form action="#" method="POST" (submit)="login()">
        <input type="text" name="email" [(ngModel)]="usuario.email" placeholder="Correo electrónico" required>
        <input type="password" name="password" [(ngModel)]="usuario.password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
